<div class="container mt-4">
    <div class="row">

        <!-- FORM SECTION -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="mb-3 text-center">Cricketer Form</h3>

                    <form [formGroup]="stdForm" (ngSubmit)="onSubmite()">

                        <div class="mb-3">
                            <label>Name *</label>
                            <input type="text" formControlName="name" class="form-control" />
                            <small class="text-danger"
                                *ngIf="stdForm.get('name')?.touched && stdForm.get('name')?.hasError('required')">
                                Name is required
                            </small>
                        </div>
                        <div class="mb-3">
                            <label>Team *</label>
                            <input type="text" formControlName="team" class="form-control" />
                            <small class="text-danger"
                                *ngIf="stdForm.get('team')?.touched && stdForm.get('team')?.hasError('required')">
                                Team is required
                            </small>
                        </div>

                        <div class="mb-3">
                            <label>Role *</label>
                            <input type="text" formControlName="role" class="form-control" />
                            <small class="text-danger"
                                *ngIf="stdForm.get('role')?.touched && stdForm.get('role')?.hasError('required')">
                                Role is required
                            </small>
                        </div>
                        <button type="submit" mat-raised-button color="primary">
                            {{ isEditMode ? 'Update' : 'Submit' }}
                        </button>

                    </form>
                </div>
            </div>
        </div>

        <!-- TABLE SECTION -->
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let std of stdDataInput; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ std.name }}</td>
                            <td>{{ std.team }}</td>
                            <td>{{ std.role }}</td>

                            <td class="text-center">
                                <button mat-icon-button color="primary" (click)="onclickEdit(std.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>

                            <td class="text-center">
                                <button mat-icon-button color="warn" (click)="onclickRemove(std.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>