.productCard .card-body{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.productCard .card-body img{
    height: 100%;
}