<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3>Student Form</h3>
                    <form [formGroup]="stdForm" (ngSubmit)="onSubmite()">
                        <div class="form-group">
                            <label for="fname">Fname *</label>
                            <input type="text" formControlName="fname" class="form-control" />

                            <strong class="text-danger"
                                *ngIf="stdForm.get('fname')?.touched && stdForm.get('fname')?.hasError('required')">
                                Username is a required field.
                            </strong>
                        </div>
                        <div class="form-group">
                            <label for="lname">Lname *</label>
                            <input type="text" formControlName="lname" class="form-control">

                            <strong class="text-danger"
                                *ngIf="stdForm.get('lname')?.touched && stdForm.get('lname')?.hasError('required')">
                                Username is a required field.
                            </strong>
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="text" formControlName="email" class="form-control">

                            <strong class="text-danger"
                                *ngIf="stdForm.get('email')?.touched && stdForm.get('email')?.hasError('required')">
                                Username is a required field.
                            </strong>
                        </div>
                        <div class="form-group">
                            <label for="contact">Contact *</label>
                            <input type="text" formControlName="contact" class="form-control">
                            <ng-template *ngIf="stdForm.get('contact')?.touched">
                                <strong class="text-danger" *ngIf="stdForm.get('contact')?.hasError('required')">
                                    Username is a required field.
                                </strong>
                                <strong class="text-danger" *ngIf="stdForm.get('contact')?.hasError('minlength')">
                                    Minimum 10 digits required.
                                </strong>

                                <strong class="text-danger" *ngIf="stdForm.get('contact')?.hasError('maxlength')">
                                    Maximum 10 digits allowed.
                                </strong>
                            </ng-template>
                        </div>
                        <button mat-raised-button color="primary">{{isEditMode?'Update':'Submite'}}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <table class="table table-borderd">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdDataInput; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{std.fname}}</td>
                        <td>{{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td>
                        <td> <button mat-icon-button color="primary" aria-label="Edit" (click)="onclickEdit(std.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td><button mat-icon-button color="warn" aria-label="Delete" (click)="onclickRemove(std.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>