<div class="container py-4 ">
    <div class="row">
        <div class="col-md-6 py-4 colDesign">
            <h2 class="alert alert-info">DIRECTIVE-TASK</h2>
            <div class="row">
                <div class="col-12 my-4">
                    <h2>Highligh Task</h2>
                    <app-highligh></app-highligh>
                </div>
                <div class="col-12 my-4">
                    <h2>ToLowerCase Task</h2>
                    <app-to-lowercase></app-to-lowercase>
                </div>
                <div class="col-12">
                    <h2>CreditCard Task</h2>
                    <app-cradit-card></app-cradit-card>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-4 colDesign">
             <h2 class="alert alert-info">DIRECTIVE-TASK-MACHINE-TEST</h2>
            <div class="row">
                <div class="col-12 my-4">
                    <h2>Highligh Task</h2>
                    <app-highligher-mr></app-highligher-mr>
                </div>
                <div class="col-12 my-4">
                    <h2>ToLowerCase Task</h2>
                    <app-lowercase-mr></app-lowercase-mr>
                </div>
                <div class="col-12">
                    <h2>CreditCard Task</h2>
                    <app-creditcard-mr></app-creditcard-mr>
                </div>
            </div>
        </div>
    </div>

</div>