<h2 class="button text-center py-4">Sonali's Gallery</h2>
<div class="container">

      <div class="row">
          <div class="col-md-8 offset-md-2">
              <div class="card">
                  <div class="card-body">
                      <form [formGroup]="gallaeryForm" (ngSubmit)="onsubmit()">
                          <div class="form-group">
                              <label for="title">Title</label>
                              <input type="text" formControlName="title" class="form-control"  
                                placeholder="Title........">
                              </div>
                          <div class="form-group">
                              <label for="img-url">Image-URL</label>
                              <input type="text" formControlName="imageUrl" class="form-control"  
                                placeholder="Image URL........">
                              </div>
                          <button type="submit" mat-raised-button  
                            class="button">{{editMode?'Update':'Submit'}}</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      <div class="row">
          <div class="col-md-3 my-4" *ngFor="let data of galleryData">
            <div class="card h-100">
                <div class="card-header text-center button">
                    <strong>{{ data.title }}</strong>
                </div>

                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="gallery-img">
                        <img [src]="data.imageUrl" [alt]="data.title" class="img-fluid" loading="lazy" />
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <button mat-raised-button class="button" (click)="onclickEdit(data)"> Edit</button>
                    <button mat-raised-button color="primary" (click)="onremove(data.id)">Remove</button>
                </div>
            </div>
        </div>

          </div>
      </div>