<div class="card">
    <div class="card-body">
        <p appHighlight class="alert alert-info" [byDefoultColor]="'pink'" [hoverColor]="'green'">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
            adipisci sapiente praesentium laudantium quo ea harum corrupti quos a et!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
            adipisci sapiente praesentium laudantium quo ea harum corrupti quos a et!
        </p>
        <hr>
        <p appHighlight class="alert alert-info" [byDefoultColor]="'pink'" [hoverColor]="'green'">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
            adipisci sapiente praesentium laudantium quo ea harum corrupti quos a et!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id,
            adipisci sapiente praesentium laudantium quo ea harum corrupti quos a et!
        </p>
    </div>
</div>