<div class="card">
    <div class="card-body">
        <h2 class="">Task-Manager-Form</h2>
        <form [formGroup]="taskForm" (ngSubmit)="(onSubmit())">

            <div class="mb-3 form-group">
                <label>Title*</label>
                <input type="text" formControlName="title" class="form-control" />
                <small class="text-danger"
                    *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.hasError('required')">
                    Title is required
                </small>
            </div>
            <div class="mb-3 form-group">
                <label>Due Date *</label>
                <input type="date" formControlName="dueDate" class="form-control" />
                <small class="text-danger"
                    *ngIf="taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.hasError('required')">
                    Due Date is required
                </small>
            </div>

            <div class="mb-3 form-group">
                <label>Priority *</label>
                <select name="priority" id="priority" formControlName="priority" class="form-control">
                    <option value="">Select Priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
                <small class="text-danger"
                    *ngIf="taskForm.get('priority')?.touched && taskForm.get('priority')?.hasError('required')">
                    Priority is required
                </small>
            </div>
            <div class="mb-3 form-group">
                <label>Status *</label>
                <select name="status" id="status" formControlName="status" class="form-control">
                    <option value="">Select Status</option>
                    <option value="todo">To Do</option>
                    <option value="inprogress">In Progress</option>
                    <option value="completed">Completed</option>
                </select>
                <small class="text-danger"
                    *ngIf="taskForm.get('status')?.touched && taskForm.get('status')?.hasError('required')">
                    Status is required
                </small>
            </div>
            <button type="submit" mat-raised-button color="primary">
                {{ isEditMode ? 'Update' : 'Submit' }}
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onClose()">Cancel</button>

        </form>
    </div>
</div>