<div class="card">
    <div class="card-body">
        <button type="button" mat-raised-button color="primary" routerLink="student-task">Student-Task</button>
        <button type="button" mat-raised-button color="primary" routerLink="gallary-task">gallary-Task</button>
        <button type="button" mat-raised-button color="primary" routerLink="cricket-task">cricket-Task</button>
        <button type="button" mat-raised-button color="primary" routerLink="order-task">order-task</button>
    </div>
</div>