
        <div class="card">
            <div class="card-header">
                <ng-content select="h2">

                </ng-content>
            </div>
            <div class="card-body">
                 <ng-content select="p">

                </ng-content>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button type="button" mat-raised-button color="primary">Edit</button>
                <button type="button" mat-raised-button color="warn">Remove</button>
            </div>
        </div>
